.book-page-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}


h1 {
  color: #922abf;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 400%;
  margin-top: 5%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background:
  linear-gradient(135deg, #100515 21px, #51176a 22px, #51176a 24px, transparent 24px, transparent 67px, #51176a 67px, #51176a 69px, transparent 69px),
  linear-gradient(225deg, #100515 21px, #51176a 22px, #51176a 24px, transparent 24px, transparent 67px, #51176a 67px, #51176a 69px, transparent 69px)0 64px;
  background-color:#100515;
  background-size: 64px 128px;
  font-family: Georgia, serif;;
}

main {
  background-color: #505050;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: justify;
}

.book-section {
  
  color: #cccccc;
  display: flex;
  flex-direction: row;
  margin: 3%;
}

.book-stats {
  margin: 0 5% 0 5%;
 
}

img {
 height: 600px;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}
.book-name {
  font-size: 60px;
  margin-bottom: 20px;
}

.line {
  display: inline-block;
  width: 100%;
  height: 0;
  border-bottom: #922abf solid 2px;
}

.book-author {
  font-size: 30px;
}

.author-accent {
  font-weight: 900;
}

.book-description {
  justify-content: space-around;
  word-spacing: 3px;
  line-height: 2rem;
  text-indent: 5%;
  font-size: 23px;
  color: #b49fcc;
}

.page-control {
  font-size:30px;
  margin: 0;
}

input[type=number] {
  padding:10px;
  border: none;
  border-radius:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-size: 20px; 
}

.comment-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.upload-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
}

.write-comment {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.upload-comment-on-page {
  display: flex;
  flex-direction: column;
  width: 20%;
}

#comment-textarea {
  height: 7em;
  resize: none;
}

button {
  background-color: #922abf;
  border-width: 2px;
  border: none;
  color:white;
  margin-bottom: 5%;
  text-align: center;
  width: 200px;
  height:60px;
  border-radius:10px;
  font-size: 20px; 
}

.display-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  color: #922abf;
  font-size: 2em;
  -webkit-text-stroke: 1px white;
}
.comment {
  background-color: white;
  border-color: #922abf;
  border-width:medium;
  border-style: solid;
  border-radius: 10%;
  padding: 5px;
  width:90%;
  margin-top: 2%;
}

.username-on-comment {
  font-weight: bold;
}

.comment-page {
  font-weight: bold;
}
@media only screen and (max-width: 800px) {
  .book-section {
    flex-direction: column;
    align-items: center;
  }
  .book-section > img {
    max-width: max-content;
    margin-bottom: 2%;
  }
  .upload-comment {
    flex-direction: column;
  }
  .write-comment{
    width: 100%;
  }

  .upload-comment-on-page{
    align-self: flex-end;
  }

  .comment {
    align-self: center;
  }
}