<h1>Read With Me</h1>
<section class="search-container">
    <input type="text" placeholder="Search.." name="search" [(ngModel)]="searchQuery" (keydown)="submit($event)">
    <a (click)="filterBooks()"><i class="fa fa-book"></i></a>
</section>
<section class="books-container" [ngStyle] = 'booksContainer'>
    <div class="search-warning" [ngStyle] = 'searchWarning'>
        Search items must be at least 2 characters long.
    </div>
    <div *ngFor="let book of filteredBooks">
        <app-book [bookComp]="book"></app-book>
    </div>
</section>
