<div>
  <h1>Read With Me</h1>
  <main>
    <section class="book-section" *ngIf="book">
        <img [src]="book.coverImgUrl" alt="name-book">
        <section class="book-stats">
            <section class="book-info">
                <p class="book-name">{{book.title}}</p>
                <p class="book-author">Author: {{book.author}}</p>
            </section>
            <section class="page-control">
                <p>I'm on page <input type="number" name="" id="book-page" placeholder="0"> out of <span class="total-pages" >{{book.pages}}</span></p>
                <p class="book-description">{{book.description}}</p>
                <button (click)="showComments()">Show comments</button>
            </section>
        </section>
    </section>
    <section class="comment-section">
        <h2 class="comments-label">Comments</h2>
        <section class="upload-comment">
            <section class="write-comment">
                <p hidden class="warning" id="username-input-null-warning">Don't forget to enter your username!</p>
                <p hidden class="warning" id="comment-textarea-null-warning">Comment can't be empty!</p>
                <input type="text" class="username" placeholder="Username" id="username-input">
                <textarea id="comment-textarea" placeholder="Comment..."></textarea>
            </section>
            
            <section class="upload-comment-on-page">
                <p hidden class="warning" id="book-page-null-warning">Don't forget to enter a page!</p>
                <p hidden class="warning" id="book-page-number-warning">Page should be a number between 0 and [book-pages].</p>
                <input type="number" class="upload-on-page" placeholder="123" id="page-input">
                <button (click)="publish()" class="upload-comment">Publish</button>
            </section>
            
        </section>
        <section class="display-comments" id="display-comments" *ngFor="let comment of comments">
            <section class="comment">
                <p><span class="username-on-comment">{{comment.username}}</span> on page <span class="comment-page">{{comment.page}}</span></p>
                <p>{{comment.text}}</p>
            </section>
        </section>
    </section>
  </main>
</div>